.imgnormalizada {
    width: auto;
    height: 225;
    max-height: 500px;
  }

body{
  background-color: rgba(127, 127, 128, 0.547);
}

.tabla{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 30px;
  text-align: center;
}